<section class='about_section section_padding'>
	<div class='about_content content_offset'>
		<div class='copy_content seventy_five'>
			<!--<p>Profile</p>-->
			<p>Elektra Cōmplex is a meeting of curious minds, eager ears and unassuming aesthetics; a group of dancers, lovers, and creatives, who took it upon themselves to create the experiences they have been longing for, with an open invitation at hand to all who want to join.</p>
			<p>From art to fashion and parties, Elektra Cōmplex was created as a collective of sorts, embarking to offer a multitude of services that cater to the queer and the inquiring.</p>
			<p>Get in touch with us:</p>
		</div>
		<div class='meta_info'>
			<span class='meta_title'><a class='' href="mailto:info@elektracomplex.co.uk">Elektra Cōmplex</a></span></br>
			<span><a class='' href="http://twitter.com/elektracomplexx" target='_blank'>Twitter</a></span>
		</div>
		<div class='about_projects'><a class='' href="mailto:info@elektracomplex.co.uk">info@elektracomplex.co.uk</a></div>
	</div>
</section>
