<div class='content_offset '>
	<div class='footer_links footer_section'>
		<span><a class='' href="/">Projects</a></span>
		<span><a class='' href="/profile">Profile</a></span>
		<span><a class='' href="http://www.facebook.com/elektra.complex" target='_blank'>Facebook</a></span>
		<span><a class='' href="http://twitter.com/elektracomplexx" target='_blank'>Twitter</a></span>
		<span><a class='' href="https://soundcloud.com/elektracomplex" target='_blank'>Soundcloud</a></span>
		<span><a class='' href="http://blog.elektracomplex.co.uk/" target='_blank'>Blog</a></span>
		<span class="footer_title"><a class='' href="mailto:info@elektracomplex.co.uk">info@elektracomplex.co.uk</a></span>
	</div>
</div>
